# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Flask specific
instance/
*.db

# Celery related
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints/

# IDE or editor specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Configuration files
config.py

